body {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color: bisque;
  }

/* Create two unequal columns that floats next to each other */
/* Left column */
/* acquired from w3schools */
.leftcolumn {
    float: left;
    width: 75%;
  }

/* Add a card effect for articles */
/* acquired from w3schools */
.card {
    background-color: #F6AAD1;
    padding: 20px;
    margin-top: 20px;
  }