.navbar-name {
    font-weight: bold;
    font-size: large;
    color: black;
    font-size: 2rem;
    padding: 8px;
    text-decoration: none;
    /* margin: 24px; */
    
}

.navbar {
    margin-left: 8px;
}