.newReview {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewForm * {
    margin-left: 36px;
   
}

.submit {
    /* padding: 10px; */
  
    /* usual styles */
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:10%;
}